/*RESET GLOBAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  margin: 0;
  padding: 0;
}

li{
 list-style: none; 
}

a{
  text-decoration: none
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


:root{
  --primary: #040F16;
  --primary-variant: #002B45;
  --secondary: #FBFBFF;
  --bg-color: #0B4F6C;
  --blue-color: #01BAEF;
  --bg-ligth-gray: #FBFBFF;
  --bg-gray: #D6D6D6;
  --bg-ligth: #FDFFFC;
  --font-primary: 1em;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary) ;

}

/*HERO*/

.hero{
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: baseline;
}

.portfolio, .developer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  height: 50vh;
}

.hero h1{
  font-size: 5em;
  font-weight: 900;
  color: var(--bg-ligth);
}

span{
  color: var(--primary);
  text-shadow: 
               1px -1px 0px var(--bg-ligth), 
               -1px -1px 0px var(--bg-ligth),                    
                1px 1px 0px var(--bg-ligth),                  
                -1px 1px 0px var(--bg-ligth);
}

h3{
  color: var(--bg-gray);
  font-weight: 100;
}

.developer{
  margin-bottom: 40px;
}

.developer h4{
  display: flex;
  align-items: center;
  color: var(--bg-gray);
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation: 1s;
  animation: zoomIn 1s ease .4s 1 normal forwards;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;
  }

  @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(1 , .5 , 1);
    transform: scale3d(1 , .5 , 1);
    }
    50% {
    opacity: 1;
    }
  }

  hr{
    color: var(--blue-color);
  }

  /*ABOUT*/

  .about, .skills{
    padding: 50px 0;
    color: var(--bg-gray);
  }

  .details{
    padding-left: 30px;
  }

  .details h2, .skills h2{
    font-size: 3em;
    color: var(--bg-gray);
  }

  section h2::after{
    content: '';
    width: 100px;
    height: 3px;
    background-color: var(--primary-variant);
    margin: 20px 0;
    display: block;
  }
  .photo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .photo img{
    width: 100%;
    height: 100%;
    padding: 30px;
  }

  .about-me{
    display: flex;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: 300;
  }

  .about-me li{
    padding-right: 10px;
  }

  .description{
    font-size: 1.2em;
  }

  /*SKILLS*/

  .skills h2{
    text-align: center;
  }

  .skills h2::after{
    content: '';
    width: 100px;
    height: 3px;
    background-color: var(--primary-variant);
    margin: 20px auto;
    display: block;
  }

  