/*RESET GLOBAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  margin: 0;
  padding: 0;
}

li{
 list-style: none; 
}

a{
  text-decoration: none
}

body{
  overflow-x: hidden;
  color: var(--bg-ligth)
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


:root{
  --primary: #040F16;
  --primary-variant: #002B45;
  --secondary: #FBFBFF;
  --bg-color: #0B4F6C;
  --blue-color: #01BAEF;
  --bg-ligth-gray: #FBFBFF;
  --bg-gray: #D6D6D6;
  --bg-ligth: #FDFFFC;
  --font-primary: 1em;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary) ;

}

/*HERO*/

.hero{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.portfolio, .developer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  height: 50vh;
}

.hero h1{
  font-size: 5em;
  font-weight: 900;
  color: var(--bg-ligth);
}

span{
  color: var(--primary);
  color: var(--bg-ligth);
}

h3{
  color: var(--bg-gray);
  font-weight: 100;
  margin-bottom: 20px;
}

.developer{
  margin-bottom: 40px;
}

.developer h4{
  display: flex;
  align-items: center;
  color: var(--bg-gray);
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation: 1s;
  animation: zoomIn 1s ease .4s 1 normal forwards;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;
  }

  @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(1 , .5 , 1);
    transform: scale3d(1 , .5 , 1);
    }
    50% {
    opacity: 1;
    }
  }

  hr{
    color: var(--blue-color);
  }

  /*ABOUT*/

  .about, .skills, .my-portfolio, .contato{
    padding: 50px 0; 
  }

  .details{
    padding-left: 30px;
  }

  .details h2, .skills h2, .my-portfolio h2{
    font-size: 3em;
    color: var(--bg-gray);
  }

  section h2::after, .skills h2::after{
    content: '';
    width: 100px;
    height: 3px;
    background-color: var(--primary-variant);
    margin: 20px 0;
    display: block;
  }

  .photo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .photo img{
    width: 100%;
    height: 100%;
    padding: 30px;
  }

  .about-me{
    display: flex;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: 300;
  }

  .about-me li{
    padding-right: 10px;
  }

  .description{
    font-size: 1.2em;
  }

  /*SKILLS*/

  .educational, .portfolio-description{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card{
    cursor: pointer;
    transition: .8s;
  }
  
  .card:hover{
    background-color: var(--blue-color);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  
  .card i{
    transition: 1.1s;
  }
  
  .card:hover i{
    color: var(--secondary);
  }
  
  .card-body i{
    font-size: 4em;
    color: var(--primary-variant);
  }

  /*PORTFOLIO*/

  .box-portfolio{
    background-color: var(--primary-variant);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

 .image{
  position: relative;
  width: 350px;
  height: 250px;
  margin: 20px;
 }

 .image__img{
  display: block;
  width: 100%;
  height: 100%;
 }

 .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .6s;
 }

 .overlay:hover{
  opacity: 1;
 }

 .image__title{
  font-size: 1em;
  font-weight: 500;
 }

 .image__description{
  font-size: .8em;
  margin: 10px 0;
  text-align: center;
  padding: 0 5px;
 }

 .image__description a{
  color: var(--bg-gray);
  text-decoration: underline;
  font-size: 1em;
 }

 .image__btn{
  font-size: .8em;
  border: 1px solid var(--bg-gray);
  padding: 5px 10px;
  color: var(--bg-ligth);
  border-radius: 5px;
  transition: .8s;
  margin-top: 20px;
 }

 .image__btn:hover{
  background-color: var(--primary-variant);
  color: var(--bg-ligth);
 }

  .see-more{
  margin: 30px;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: var(--blue-color);
  color: var(--bg-ligth-gray);
  font-size: 1.2em;
  font-weight: 500;
  border: none;
 }

 .see-more:hover{
  background-color: var(--bg-ligth);
  transform: scale3d(1, 1, 1);
  color: var(--primary-variant);
  font-weight: 500;
}

.see-more{
  transition: 1.1s;
}

/*MY PORTFOLIO PAGE*/

.my-portfolio h2::after, .contato h2::after{
  content: '';
  width: 100px;
  height: 3px;
  background-color: var(--primary-variant);
  margin: 20px auto;
  display: block;
}

.my-portfolio .box-portfolio{
  background-color: transparent;
}

.back{
  display: flex;
  justify-content: center;
}

/*CONTATO*/

.contato{
  margin: 0 auto;
}

h5{
  font-size: 1em;
  font-weight: 700;
}

.adress span{
  font-size: .8em;
}

.location i{
  padding: 10px;
  font-size: 1.2em;
  margin-right: 20px;
  border: 1px solid var(--blue-color);
  border-radius: 50%;
  color: var(--bg-gray);
}

.mb-40{
  margin-bottom:40px ;
}

label{
  color: var(--primary);
}

.social a{
  color: var(--primary-variant);
}

.social i{
  font-size: 2em;
  margin: 0 10px;
  border: 1px solid var(--primary-variant);
  padding: 5px;
  border-radius: 50%;
  transition: .8s;
}

.social-icons i:hover{
  background-color: var(--primary-variant);
  border: none;
  color: var(--bg-gray);
}

textarea:focus, input:focus, select:focus {
  outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
} 

